<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summarizer</title>
    <link rel="stylesheet" href="\static\styles.css">
</head>
<body>
    <div class="container">
        <header class="navbar">
            <h1>Text Summarizer</h1>
        </header>
        <main>
            <div class="card output-card">
                <h2>Summary:</h2>
                <textarea id="summary-text">{{summary}}</textarea>
            </div>
        </main>
    </div>
  
    <script src="script.js"></script>
</body>
</html>
